### Final Project
#### Load the data to a database
- Filling of a sqlite database into a jupyter notebook
- Serving the data with an API using flask
- Visualizing the data in a frontend with the rollup skeleton

In [1]:
import pandas as pd
import sqlite3

The following steps are performed with this notebook
1. Read data from file .
2. Make a connection to a sqlite database.
3. Write data into the sqlite database.
4. Close the connection to the database.

### Step 1: Read Data

In [2]:
tree = pd.read_json("./data/tree.json")
map = pd.read_csv("./data/50m.csv")
line = pd.read_csv("./data/line.csv")
umap = pd.read_csv("./data/umap.csv")
mds = pd.read_csv("./data/mds.csv")
tree.head()

                                            children  median   name
0  {'children': [{'children': [{'median': 3.11025...    6.92  World
1  {'children': [{'children': [{'median': 10.8316...    6.92  World
2  {'children': [{'children': [{'median': 7.15852...    6.92  World
3  {'children': [{'children': [{'median': 6.95323...    6.92  World
4  {'children': [{'children': [{'median': 10.5394...    6.92  World

### Step 2: Connect to database

In [3]:
connection = sqlite3.connect("./data.db")

### Step 3: Write to database 
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql

In [4]:
#tree.to_sql("tree", con=connection, if_exists='replace',
#           index_label='id')
map.to_sql("map", con=connection, if_exists='replace',
           index_label='id')
line.to_sql("line", con=connection, if_exists='replace',
           index_label='id')
umap.to_sql("umap", con=connection, if_exists='replace',
           index_label='id')
mds.to_sql("mds", con=connection, if_exists='replace',
           index_label='id')
cur = connection.execute("SELECT * from umap")
for row in cur:
    print(row)

(0, 0, 6.754379, 6.846889, 'Albania', 2019)
(1, 1, 6.527561, 6.735307, 'Algeria', 2011)
(2, 2, 6.3965864, 6.6461425, 'Angola', 2018)
(3, 3, 6.81159, 6.7643776, 'Argentina', 2020)
(4, 4, 6.4947543, 6.537276, 'Armenia', 2020)
(5, 5, 7.440638, 6.873573, 'Australia', 2018)
(6, 6, 7.5336227, 6.983905, 'Austria', 2019)
(7, 7, 6.681629, 6.6486497, 'Azerbaijan', 2005)
(8, 8, 6.7257853, 6.260072, 'Bangladesh', 2016)
(9, 9, 7.149092, 6.7667565, 'Belarus', 2020)
(10, 10, 7.6719, 6.867091, 'Belgium', 2019)
(11, 11, 6.8703127, 6.2895484, 'Belize', 1999)
(12, 12, 6.966178, 6.1083245, 'Benin', 2018)
(13, 13, 7.0467515, 6.4988484, 'Bhutan', 2017)
(14, 14, 7.4191403, 6.5783772, 'Bolivia', 2020)
(15, 15, 7.48566, 6.6458664, 'Bosnia and Herzegovina', 2011)
(16, 16, 7.0999565, 6.126328, 'Botswana', 2015)
(17, 17, 7.557868, 6.559016, 'Brazil', 2020)
(18, 18, 7.825779, 6.539463, 'Bulgaria', 2019)
(19, 19, 7.375291, 5.772456, 'Burkina Faso', 2018)
(20, 20, 7.494027, 5.619786, 'Burundi', 2013)
(21, 21, 7.4507217, 5.918491, 'Cameroon', 2014)
(22, 22, 7.9453607, 6.833785, 'Canada', 2017)
(23, 23, 7.7545786, 5.9463563, 'Cape Verde', 2015)
(24, 24, 7.473345, 5.7383485, 'Central African Republic', 2008)
(25, 25, 7.575469, 5.719392, 'Chad', 2018)
(26, 26, 8.055798, 6.4072366, 'Chile', 2020)
(27, 27, 8.410169, 6.032414, 'China', 2019)
(28, 28, 8.440804, 5.844698, 'Colombia', 2020)
(29, 29, 8.298147, 5.635977, 'Comoros', 2014)
(30, 30, 8.268678, 5.5245376, 'Congo', 2011)
(31, 31, 8.679404, 5.977653, 'Costa Rica', 2020)
(32, 32, 8.460703, 5.396348, "Cote d'Ivoire", 2018)
(33, 33, 9.044244, 6.016445, 'Croatia', 2019)
(34, 34, 9.388567, 6.0680637, 'Cyprus', 2019)
(35, 35, 9.442165, 5.9223356, 'Czechia', 2019)
(36, 36, 8.77945, 5.1443996, 'Democratic Republic of Congo', 2012)
(37, 37, 9.591513, 5.931612, 'Denmark', 2019)
(38, 38, 8.954491, 5.0898895, 'Djibouti', 2017)
(39, 39, 9.49581, 5.048624, 'Dominican Republic', 2020)
(40, 40, 9.5729685, 4.8861346, 'East Asia and Pacific', 2019)
(41, 41, 9.619588, 4.8999305, 'Ecuador', 2020)
(42, 42, 9.720138, 4.6438518, 'Egypt', 2017)
(43, 43, 9.904211, 4.825265, 'El Salvador', 2019)
(44, 44, 10.112225, 5.8259325, 'Estonia', 2019)
(45, 45, 9.936926, 4.4087725, 'Eswatini', 2016)
(46, 46, 9.969268, 4.2848377, 'Ethiopia', 2015)
(47, 47, 10.084621, 4.912784, 'Europe and Central Asia', 2019)
(48, 48, 10.187777, 4.487661, 'Fiji', 2019)
(49, 49, 10.280322, 5.869527, 'Finland', 2019)
(50, 50, 10.37162, 5.8169575, 'France', 2018)
(51, 51, 10.4327755, 4.6297226, 'Gabon', 2017)
(52, 52, 10.471604, 4.1938233, 'Gambia', 2015)
(53, 53, 10.566806, 4.3366976, 'Georgia', 2020)
(54, 54, 10.517182, 5.787142, 'Germany', 2018)
(55, 55, 10.838094, 4.2154965, 'Ghana', 2016)
(56, 56, 10.727656, 5.3382173, 'Greece', 2019)
(57, 57, 10.950964, 4.386831, 'Guatemala', 2014)
(58, 58, 10.950703, 4.149817, 'Guinea', 2018)
(59, 59, 10.879554, 4.2421765, 'Guinea-Bissau', 2018)
(60, 60, 11.043354, 4.286703, 'Guyana', 1998)
(61, 61, 10.970151, 4.180896, 'Haiti', 2012)
(62, 62, 10.777024, 5.623249, 'High income countries', 2019)
(63, 63, 11.204648, 4.4237804, 'Honduras', 2019)
(64, 64, 10.960609, 5.4511075, 'Hungary', 2019)
(65, 65, 10.829204, 5.708001, 'Iceland', 2017)
(66, 66, 11.420653, 4.2138257, 'India', 2019)
(67, 67, 16.536772, 2.775444, 'Indonesia', 2021)
(68, 68, 16.333302, 2.8711507, 'Iran', 2019)
(69, 69, 16.363712, 2.830672, 'Iraq', 2012)
(70, 70, 15.5153885, 1.7222714, 'Ireland', 2018)
(71, 71, 15.690243, 1.8358934, 'Israel', 2018)
(72, 72, 15.650829, 1.7903134, 'Italy', 2018)
(73, 73, 16.4562, 2.7314026, 'Jamaica', 2004)
(74, 74, 15.555118, 1.6952082, 'Japan', 2013)
(75, 75, 16.257607, 2.467619, 'Jordan', 2010)
(76, 76, 16.533405, 2.5623467, 'Kazakhstan', 2018)
(77, 77, 16.973745, 2.481676, 'Kenya', 2015)
(78, 78, 16.854134, 2.608766, 'Kiribati', 2019)
(79, 79, 16.684233, 2.5561836, 'Kosovo', 2017)
(80, 80, 16.910744, 2.5361707, 'Kyrgyzstan', 2020)
(81, 81, 16.93579, 2.4071162, 'Laos', 2018)
(82, 82, 16.669981, 2.3850894, 'Latin America and the Caribbean', 2019)
(83, 83, 15.85845, 1.2659048, 'Latvia', 2019)
(84, 84, 15.950088, 1.2918904, 'Lebanon', 2011)
(85, 85, 17.184841, 1.9743192, 'Lesotho', 2017)
(86, 86, 17.270336, 1.8468226, 'Liberia', 2016)
(87, 87, 15.9443445, 1.1316435, 'Lithuania', 2019)
(88, 88, 15.74932, 0.8713322, 'Luxembourg', 2019)
(89, 89, 17.390663, 1.4968165, 'Madagascar', 2012)
(90, 90, 17.328447, 1.4055471, 'Malawi', 2019)
(91, 91, 16.18398, 1.0336287, 'Malaysia', 2015)
(92, 92, 16.320623, 1.058919, 'Maldives', 2019)
(93, 93, 17.369822, 1.1995687, 'Mali', 2018)
(94, 94, 15.872739, 0.91059977, 'Malta', 2019)
(95, 95, 16.951153, 0.9845668, 'Marshall Islands', 2019)
(96, 96, 17.283518, 1.1186156, 'Mauritania', 2014)
(97, 97, 16.688135, 0.8822676, 'Mauritius', 2017)
(98, 98, 16.852592, 0.71418065, 'Mexico', 2020)
(99, 99, 17.413776, 0.9025342, 'Micronesia (country)', 2013)
(100, 100, 17.23176, 0.62090915, 'Middle East and North Africa', 2018)
(101, 101, 17.015705, 0.4164465, 'Moldova', 2019)
(102, 102, 17.181784, 0.3924651, 'Mongolia', 2018)
(103, 103, 16.852463, 0.17712913, 'Montenegro', 2018)
(104, 104, 17.175205, -0.0028022598, 'Morocco', 2013)
(105, 105, 17.459692, -0.45746243, 'Mozambique', 2014)
(106, 106, 17.366291, -0.14753245, 'Myanmar', 2017)
(107, 107, 17.29852, -0.11235987, 'Namibia', 2015)
(108, 108, 17.345144, -0.13953748, 'Nauru', 2012)
(109, 109, 17.329708, -0.3970339, 'Nepal', 2010)
(110, 110, 15.868689, 0.56349087, 'Netherlands', 2019)
(111, 111, 17.096209, -0.22177763, 'Nicaragua', 2014)
(112, 112, 17.548454, -0.41541, 'Niger', 2018)
(113, 113, 17.4185, -0.5523124, 'Nigeria', 2018)
(114, 114, 16.879753, -0.6416745, 'North Macedonia', 2018)
(115, 115, 15.939486, 0.470982, 'Norway', 2019)
(116, 116, 17.319057, -0.7924787, 'Pakistan', 2018)
(117, 117, 16.838713, -0.8916486, 'Palestine', 2016)
(118, 118, 16.484545, -1.3832135, 'Panama', 2019)
(119, 119, 17.252453, -0.84979165, 'Papua New Guinea', 2009)
(120, 120, 16.656673, -1.1905129, 'Paraguay', 2020)
(121, 121, 16.745735, -1.2707821, 'Peru', 2020)
(122, 122, 16.861366, -1.3816142, 'Philippines', 2018)
(123, 123, 16.016794, -2.4754174, 'Poland', 2019)
(124, 124, 15.81466, -2.6387146, 'Portugal', 2019)
(125, 125, 15.800209, -2.6978555, 'Romania', 2019)
(126, 126, 15.778529, -2.6916955, 'Russia', 2020)
(127, 127, 14.925772, -4.266488, 'Rwanda', 2016)
(128, 128, 15.805224, -2.9347682, 'Saint Lucia', 2016)
(129, 129, 15.168712, -3.939768, 'Samoa', 2013)
(130, 130, 15.018133, -4.125315, 'Sao Tome and Principe', 2017)
(131, 131, 14.933686, -4.199216, 'Senegal', 2018)
(132, 132, 15.745562, -2.7740319, 'Serbia', 2019)
(133, 133, 15.610274, -2.8356545, 'Seychelles', 2018)
(134, 134, 14.783035, -4.3061676, 'Sierra Leone', 2018)
(135, 135, 15.429942, -2.8251712, 'Slovakia', 2019)
(136, 136, 14.778259, -2.669518, 'Slovenia', 2019)
(137, 137, 14.473643, -4.357291, 'Solomon Islands', 2012)
(138, 138, 14.568679, -4.3818574, 'Somalia', 2017)
(139, 139, 14.400673, -4.15729, 'South Africa', 2014)
(140, 140, 14.281678, -4.257776, 'South Asia', 2019)
(141, 141, 14.631558, -2.6868553, 'South Korea', 2016)
(142, 142, 14.362745, -4.3325634, 'South Sudan', 2016)
(143, 143, 14.570138, -2.7131116, 'Spain', 2019)
(144, 144, 14.0345125, -4.012733, 'Sri Lanka', 2016)
(145, 145, 13.751019, -4.272531, 'Sub-Saharan Africa', 2019)
(146, 146, 13.743219, -4.2490535, 'Sudan', 2014)
(147, 147, 13.727839, -3.8986127, 'Suriname', 1999)
(148, 148, 14.512764, -2.7218199, 'Sweden', 2019)
(149, 149, 14.246465, -2.6006362, 'Switzerland', 2018)
(150, 150, 13.431955, -3.792122, 'Syria', 2003)
(151, 151, 14.453941, -2.7414033, 'Taiwan', 2016)
(152, 152, 13.437929, -3.869655, 'Tajikistan', 2015)
(153, 153, 13.313071, -4.2517643, 'Tanzania', 2018)
(154, 154, 13.03092, -3.306362, 'Thailand', 2020)
(155, 155, 13.2359295, -4.161688, 'Timor', 2014)
(156, 156, 13.158405, -4.108305, 'Togo', 2018)
(157, 157, 13.060199, -3.569008, 'Tonga', 2015)
(158, 158, 12.962102, -3.4069011, 'Trinidad and Tobago', 1992)
(159, 159, 12.923025, -3.2415137, 'Tunisia', 2015)
(160, 160, 12.93057, -3.2145927, 'Turkey', 2019)
(161, 161, 13.057669, -4.0764, 'Turkmenistan', 1998)
(162, 162, 12.958497, -3.7281923, 'Tuvalu', 2010)
(163, 163, 13.002028, -4.129926, 'Uganda', 2019)
(164, 164, 12.720612, -3.3758953, 'Ukraine', 2020)
(165, 165, 14.094473, -2.5850646, 'United Arab Emirates', 2013)
(166, 166, 14.110051, -2.6507363, 'United Kingdom', 2017)
(167, 167, 13.959239, -2.7286978, 'United States', 2019)
(168, 168, 12.420256, -3.280998, 'Uruguay', 2020)
(169, 169, 11.878718, -3.7014618, 'Uzbekistan', 2003)
(170, 170, 11.901692, -3.7567806, 'Vanuatu', 2019)
(171, 171, 12.025805, -3.4291258, 'Venezuela', 2006)
(172, 172, 12.128095, -3.4591227, 'Vietnam', 2018)
(173, 173, 11.84892, -3.3553898, 'World', 2019)
(174, 174, 11.884307, -3.6888764, 'Yemen', 2014)
(175, 175, 11.855994, -3.703221, 'Zambia', 2015)
(176, 176, 11.937616, -3.6135063, 'Zimbabwe', 2019)

### Step 4: Close database connection

In [5]:
connection.close()